@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway|Source+Sans+Pro&display=swap");
* {
  scroll-behavior: smooth; }

body {
  margin: 0 17rem !important; }

nav {
  background: #ffff !important; }

header {
  background: url(../img/home-setup.jpg);
  background-size: cover;
  height: 70vh; }

footer {
  text-align: center;
  padding: 2rem 0;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600; }

span {
  text-transform: uppercase;
  display: block; }

h1 {
  font-family: "Permanent Marker", cursive !important;
  color: #6A8D73; }

h2 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  font-size: 4rem !important;
  color: #6A8D73;
  text-align: center;
  padding: 3rem 0; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif !important; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

hr {
  margin: 2rem 0 !important; }

.fa-address-card,
.fa-tasks {
  background: #6A8D73;
  color: #ffff;
  text-align: center;
  padding: 4rem;
  font-size: 2rem; }

.fa-download:before,
.fa-copyright:before {
  padding: 0 .5rem; }

.read-more-btn,
.download-btn {
  border-radius: 0 !important;
  background: #6A8D73 !important;
  color: #ffff !important;
  width: 10vw; }

.download-btn {
  margin: 1rem 0;
  width: 15vw; }

.social-media-btn {
  display: inline-block;
  width: 30%;
  height: 50px;
  background: #6A8D73;
  margin: 2px;
  border-radius: 5%;
  box-shadow: 0 5px 10px -5px #00000070;
  color: #ffff;
  overflow: hidden;
  position: relative; }
  .social-media-btn :hover {
    background: #ffff !important;
    color: #6A8D73 !important;
    text-decoration: none;
    transform: scale(1.3); }
  .social-media-btn i {
    line-height: 50px;
    width: 100%;
    font-size: 19px;
    transition: .2s linear; }

.center-all {
  text-align: center !important; }

.myName {
  font-family: "Open Sans", sans-serif !important; }

.myLogo {
  width: 30px;
  height: 30px; }

.nav-opt {
  transition: 0.3s ease;
  border-top: 0.5px solid #ffff;
  border-bottom: 0.5px solid #ffff; }

.nav-opt:hover {
  border-top: 3px solid #6A8D73;
  border-bottom: 3px solid #6A8D73;
  padding: 4px 0; }

.text1 {
  font-family: "Permanent Marker", cursive;
  color: #6A8D73;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .2rem;
  margin-bottom: .25rem;
  background: #ffff;
  position: relative;
  animation: text 3s 1; }

.text2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #000000; }

@keyframes text {
  0% {
    color: #ffff;
    margin-bottom: -40px; }
  30% {
    letter-spacing: 10px;
    margin-bottom: -30px; }
  85% {
    letter-spacing: 3px;
    margin-bottom: -30px; } }
.option-sect {
  padding: 5rem; }

.about-me-sect {
  background: #f5f5f591;
  padding: 5rem 3rem; }

.contact-me-sect {
  background: url(../img/business-card-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 2rem 5rem; }

.business-card {
  width: 100%;
  height: 280px;
  font-family: "Montserrat", sans-serif; }

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.front {
  background: linear-gradient(to right, #ffff, #6A8D73);
  padding: 40px; }
  .front span {
    background: #6A8D73;
    color: #ffff;
    padding: 4px 10px;
    display: inline-block;
    margin-bottom: 40px; }

.contact-details {
  padding: 0; }
  .contact-details ul {
    list-style-type: none;
    margin: 0; }
  .contact-details li {
    margin: 10px 0;
    display: flex;
    align-items: center; }
  .contact-details i {
    width: 26px;
    height: 26px;
    background: #6A8D73;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px; }

.the-language {
  background: #6A8D73;
  color: #ffff;
  padding: 1rem;
  margin-bottom: .5rem; }

.cv-main {
  padding: 1.5rem; }

.left-grid {
  background: beige; }

.right-grid {
  background: goldenrod; }

.mySkills {
  background: red; }

.myWork-exp {
  background: blue; }

.education {
  background: pink; }

.extra-activities {
  background: purple; }

.myHobbies {
  background: orange; }

.cv-section-heading {
  font-weight: 700;
  letter-spacing: .3rem;
  margin: 1rem 0; }

.projectImg {
  height: 35vh;
  width: 100%; }

.intro-container {
  text-align: left;
  position: absolute;
  top: 60%;
  width: 35%;
  background: #ffff;
  padding: .5rem; }

.option-sect {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(2, 1fr); }

.contact-page-grids,
.language-grids {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(2, 1fr); }

.language-grids {
  grid-gap: 1rem !important; }

.project-grids {
  display: grid;
  grid-template-columns: auto auto; }

.project-grids,
.contact-page-grids {
  grid-gap: 2rem;
  height: auto;
  margin: 2rem 0; }

.skills-grids {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 20vw 30vw;
  padding: 1rem 2rem; }

@media only screen and (max-width: 1300px) {
  body {
    margin: 0 11rem !important; }

  @keyframes text {
    0% {
      color: #ffff;
      margin-bottom: -28px; }
    30% {
      letter-spacing: 6px; }
    85% {
      letter-spacing: 3px;
      margin-bottom: -25px; } }
  .skills-grids {
    grid-template-columns: 20vw 40vw; }

  .download-btn {
    width: 16vw; } }
@media only screen and (max-width: 1100px) {
  body {
    margin: 0 auto !important; }

  .intro-container {
    top: 50%;
    width: 40%; }

  .option-sect {
    padding: 5rem 10rem; }

  .read-more-btn,
  .download-btn {
    width: 25vw; }

  .about {
    padding: 1rem 5rem; }

  .skills-grids {
    grid-template-columns: 20vw 69vw; } }
@media only screen and (max-width: 900px) {
  .intro-container {
    width: 54%; }

  .option-sect {
    padding: 5rem; }

  .skills-grids {
    padding: 1rem; } }
@media only screen and (max-width: 700px) {
  .intro-container {
    width: 60%; }

  .option-sect {
    padding: 5rem 10rem;
    grid-template-columns: 1fr; }

  .download-btn {
    width: 30vw; } }
@media only screen and (max-width: 600px) {
  .intro-container {
    width: 80%; }

  .text1 {
    font-size: 1.5rem; }

  .text2 {
    font-size: .8rem; }

  .option-sect {
    padding: 4rem; }

  .read-more-btn,
  .download-btn {
    width: 35vw; }

  .about {
    padding: 1rem 2rem; }

  .the-language {
    text-align: center; }

  .language-grids {
    grid-template-columns: 1fr; }

  .language-description {
    display: none; }

  .cv-page-heading h2 {
    font-size: 2.5rem !important; }

  .skills-grids {
    grid-template-columns: 1fr; } }
@media only screen and (max-width: 425px) {
  header {
    background: url(../img/IMG-20190610-WA0019.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; }

  .intro-container {
    top: 70%; }

  .option-sect {
    padding: 4rem 3rem; }

  .download-btn {
    width: 50vw; } }
@media only screen and (max-width: 380px) {
  header {
    background-position-x: 50%; }

  .myLogo {
    height: 0;
    width: 0; }

  .myName {
    margin: 0 !important; }

  .intro-container {
    width: 85%; }

  .option-sect {
    padding: 1rem 0;
    padding-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
