@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway|Source+Sans+Pro&display=swap");
* {
  scroll-behavior: smooth; }

body {
  margin: 0 17rem !important; }

nav {
  background: #ffff !important; }

header {
  background: url(../img/home-setup.jpg);
  background-size: cover;
  height: 70vh; }

span {
  text-transform: uppercase;
  display: block; }

h1 {
  font-family: "Permanent Marker", cursive !important;
  color: #6A8D73; }

h2 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  font-size: 4rem !important;
  color: #6A8D73;
  text-align: center;
  padding: 3rem 0; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif !important; }

.fa-user-graduate,
.fa-tasks {
  background: #6A8D73;
  color: #ffff;
  text-align: center;
  padding: 4rem;
  font-size: 2rem; }

.read-more-btn {
  border-radius: 0 !important;
  background: #6A8D73 !important;
  border-color: transparent !important;
  color: #ffff !important;
  width: 10vw; }

.social-media-btn {
  display: inline-block;
  width: 30%;
  height: 50px;
  background: #f5f5f591;
  margin: 2px;
  border-radius: 5%;
  box-shadow: 0 5px 10px -5px #00000070;
  color: #6A8D73;
  overflow: hidden;
  position: relative; }
  .social-media-btn :hover {
    background: #6A8D73 !important;
    color: white !important;
    text-decoration: none;
    transform: scale(1.3); }
  .social-media-btn i {
    line-height: 50px;
    width: 100%;
    font-size: 19px;
    transition: .2s linear; }

.center-all {
  text-align: center !important; }

.myName {
  font-family: "Open Sans", sans-serif !important; }

.nav-opt {
  transition: 0.3s ease;
  border-top: 0.5px solid #ffff;
  border-bottom: 0.5px solid #ffff; }

.nav-opt:hover {
  border-top: 3px solid #6A8D73;
  border-bottom: 3px solid #6A8D73;
  padding: 4px 0; }

.text1 {
  font-family: "Permanent Marker", cursive;
  color: #6A8D73;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .2rem;
  margin-bottom: .25rem;
  background: #ffff;
  position: relative;
  animation: text 3s 1; }

.text2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #000000; }

@keyframes text {
  0% {
    color: #ffff;
    margin-bottom: -40px; }
  30% {
    letter-spacing: 10px;
    margin-bottom: -30px; }
  85% {
    letter-spacing: 3px;
    margin-bottom: -30px; } }
.option-sect {
  padding: 5rem; }

.about-me-sect {
  background: #f5f5f591;
  padding: 5rem 3rem; }

.contact-me-sect {
  background: url(../img/business-card-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 2rem 5rem; }

.business-card {
  width: 100%;
  height: 280px;
  font-family: "Montserrat", sans-serif; }

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.front {
  background: linear-gradient(to right, #ffff, #6A8D73);
  padding: 40px; }
  .front span {
    background: #6A8D73;
    color: #ffff;
    padding: 4px 10px;
    display: inline-block;
    margin-bottom: 40px; }

.contact-details {
  padding: 0; }
  .contact-details ul {
    list-style-type: none;
    margin: 0; }
  .contact-details li {
    margin: 10px 0;
    display: flex;
    align-items: center; }
  .contact-details i {
    width: 26px;
    height: 26px;
    background: #6A8D73;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px; }

.the-language {
  background: #6A8D73;
  color: #ffff;
  padding: 1rem;
  margin-bottom: .5rem; }

.cv-heading {
  font-weight: 700;
  letter-spacing: .3rem;
  text-align: center;
  margin: 1rem 0; }

.cv-content {
  font-size: .85rem; }

.projectImg {
  height: 35vh;
  width: 100%; }

.intro-container {
  text-align: left;
  position: absolute;
  top: 60%;
  width: 35%;
  background: #ffff;
  padding: .5rem; }

.option-sect {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(2, 1fr); }

.contact-page-grids,
.language-grids {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(2, 1fr); }

.language-grids {
  grid-gap: 1rem !important; }

.project-grids {
  display: grid;
  grid-template-columns: auto auto; }

.project-grids,
.contact-page-grids {
  grid-gap: 2rem;
  height: auto;
  margin: 2rem 0; }

.cv-content-grid {
  display: grid;
  grid-template-columns: 20vw 80vw; }

/*# sourceMappingURL=main.css.map */
