// Base Styles 

* {
    scroll-behavior: smooth;
}

body {
    margin: 0 17rem !important;
}

nav {
    background: $white !important;
}

header {
    background: url(../img/home-setup.jpg);
    background-size: cover;
    height: 70vh;
}

footer {
    text-align: center;
    padding: 2rem 0;

    font-family: $Montserrat !important;
    font-weight: 600;
}

span {
    text-transform: uppercase;
    display: block;
}

h1 {
    font-family: $P-Marker !important;
    color: $Prim-color;
}

h2 {
    font-family: $Montserrat !important;
    font-weight: 600 !important;
    font-size: 4rem !important;
    color: $Prim-color;
    text-align: center;

    padding: 3rem 0;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: $Raleway !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}