// Base Styles 

* {
    scroll-behavior: smooth;
}

body {
    margin: 0 17rem !important;
}

nav {
    background: $white !important;
}

header {
    background: url(../img/home-setup.jpg);
    background-size: cover;
    height: 70vh;
}

span {
    text-transform: uppercase;
    display: block;
}

h1 {
    font-family: $P-Marker !important;
    color: $Prim-color;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: $Raleway !important;
}