// Base Styles 

* {
    scroll-behavior: smooth;
}

body {
    margin: 0 17rem !important;
}

nav {
    background: $white !important;
}

header {
    background: url(../img/home-setup.jpg);
    background-size: cover;
    height: 70vh;
}

span {
    text-transform: uppercase;
    display: block;
}