// ========================
// Landing Page Styles

// Hero Styles in Header
.intro-container {
    text-align: left;
    position: absolute;
    top: 60%;
    width: 35%;
    background: $white;
    padding: .5rem;
}
// ===========================

// Main Section Styles
.option-sect {
    display: grid;
    grid-gap: .5rem;

    grid-template-columns: repeat(2, 1fr);
}

.contact-page-grids,
.language-grids {
    display: grid;
    grid-gap: 0;

    grid-template-columns: repeat(2, 1fr);
}

.language-grids {
    grid-gap: 1rem !important;
}

.project-grids {
    display: grid;

    grid-template-columns: auto auto;
}

.project-grids,
.contact-page-grids {
    grid-gap: 2rem;
    height: auto;

    margin: 2rem 0;
}

.cv-content-grid {
    display: grid;

    grid-template-columns: 20vw 35vw;
    height: auto;
    width: 100%;
}