// ========================
// Landing Page Styles

// Hero Styles in Header
.intro-container {
    text-align: left;
    position: absolute;
    top: 60%;
    width: 35%;
    background: $white;
    padding: .5rem;
}
// ===========================

// Main Section Styles
.option-sect {
    display: grid;
    grid-gap: .5rem;

    grid-template-columns: repeat(2, 1fr);
}

.contact-me-sect,
.contact-page-grids,
.language-grids {
    display: grid;
    grid-gap: 0;

    grid-template-columns: repeat(2, 1fr);
}

.contact-details {
    display: grid;

    grid-template-rows: repeat(5, 1fr);
}

.language-grids {
    grid-gap: 1rem !important;
}