// Responsive Design

// My Online Portfolio will have a lot of breakpoints that way it is able to cater most if not every screen size available from 1344px downwards

@media only screen and (max-width: 1300px) {
    // Base Styles
    body {
        margin: 0 11rem !important;
    }

    // ========================
    //  Landing Page Styles

    // Hero Styles in Header
    @keyframes text {
        0% {
            color: $white;
            margin-bottom: -28px;
        }
        30% {
            letter-spacing: 6px;
        }
        85% {
            letter-spacing: 3px;
            margin-bottom: -25px; 
        }
    }

    // ========================
    // CV Page Styles
    .two-col-grids {
        grid-template-columns: 20vw 40vw;
    }

    .download-btn {
        width: 16vw;
    }
}

@media only screen and (max-width: 1100px) {
    // Base Styles
    body {
        margin: 0 auto !important;
    }

    // ========================
    //  Landing Page Styles

    // Hero Styles in Header
    .intro-container {
        top: 50%;
        width: 40%;
    }

    .option-sect {
        padding: 5rem 10rem;
    }

    // Main Styles
    .read-more-btn, 
    .download-btn {
        width: 25vw;
    }
    // ========================
    // About Page Styles
    .about {
        padding: 1rem 5rem;
    }

    // ========================
    // CV Page Styles
    .two-col-grids {
        grid-template-columns: 20vw 69vw;
    }
}

@media only screen and (max-width:900px) {
    // ========================
    //  Landing Page Styles

    // Hero Styles in Header
    .intro-container {
        width: 54%;
    }  

    // Main Styles
    .option-sect {
        padding: 5rem;
    }

    // ========================
    // CV Page Styles
    .two-col-grids {
        padding: 1rem;
    }
}

@media only screen and (max-width:700px) {
    // ========================
    //  Landing Page Styles

    // Hero Styles in Header
    .intro-container {
        width: 60%;
    }

    // Main Styles
    .option-sect {
        padding: 5rem 10rem;
        grid-template-columns: 1fr;
    }

    // ========================
    // CV Page Styles
    .download-btn {
        width: 30vw;
    }
}

@media only screen and (max-width:600px) {
    // ========================
    //  Landing Page Styles

    // Hero Styles in Header
    .intro-container {
        width: 80%;
    }

    .text1 {
        font-size: 1.5rem;
    }

    .text2 {
        font-size: .8rem;
    }

    // Main Styles
    .option-sect {
        padding: 4rem;
    }

    .read-more-btn, 
    .download-btn {
        width: 35vw;
    }

    // ========================
    // About Page Styles 
    .about {
        padding: 1rem 2rem;
    }
    
    // Main Styles
    .the-language {
        text-align: center;
    }

    .language-grids {
        grid-template-columns: 1fr;
    }

    .language-description {
        display: none;
    }
    // ========================
    // CV Page Styles
    .cv-page-heading h2 {
        font-size: 2.5rem !important;
    }

    .two-col-grids {
        grid-template-columns: 1fr;
    }
}

// Potrait Mobile View Responsive Design
@media only screen and (max-width:425px) {
    // Base Styles
    header {
        background: url(../img/IMG-20190610-WA0019.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    // ========================
    //  Landing Page Styles

    // Hero Styles in Header
    .intro-container {
        top: 70%;
    }

    // Main Styles
    .option-sect {
        padding: 4rem 3rem;
    }
    // ========================
    // CV Page Styles
    .download-btn {
        width: 50vw;
    }
}

@media only screen and (max-width:380px) {
    // Base Styles 
    header {
        background-position-x: 50%;
    }
    // Top Navigation Bar Styles
    .myLogo {
        height: 0;
        width: 0;
    }

    .myName {
        margin: 0 !important;
    }

    // ========================
    //  Landing Page Styles

    // Hero Styles in Header
    
    .intro-container {
        width: 85%;
    }

    // Main Styles
    .option-sect {
        padding: 1rem 0;
        padding-bottom: 0;
    }

    // ========================
}