.center-all {
    text-align: center !important;
}

// Top Navigation Bar Styles
.myName {
    font-family: $O-Sans !important;
}

.nav-opt {
    transition: 0.3s ease;
    border-top: .5px solid $white;
    border-bottom: .5px solid $white;
  }

.nav-opt:hover {
    border-top: 3px solid $Prim-color;
    border-bottom: 3px solid $Prim-color;
    padding: 4px 0; 
}

// ========================
// Landing Page Styles

// Hero Styles in Header
.text1 {
    font-family: $P-Marker;
    color: $Prim-color;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-bottom: .25rem;
    background: $white;
    position: relative;
    animation: text 3s 1;
}

.text2 {
    font-family: $O-Sans;
    font-size: 1rem;
    color: $black;
}

@keyframes text {
    0% {
        color: $white;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 10px;
        margin-bottom: -30px;
    }
    85% {
        letter-spacing: 3px;
        margin-bottom: -30px; 
    }
}

// Main Section Styles
.option-sect {
    padding: 5rem;
}

.about-me-sect {
    background: $LG-bg;
    padding: 5rem 3rem;
}

.contact-me-sect {
    background: $DG-bg;
    padding: 2rem 5rem;
}

.contact-details {
    background: $Prim-color;
    color: $white;

    a {
        color: $white;
    }
}

.detail-sect,
.detail-sect-last {
    padding: .5rem 0;
}

.detail-sect {
    border-bottom: solid .01rem $white;
}