.center-all {
    text-align: center !important;
}

// Top Navigation Bar Styles
.myName {
    font-family: $O-Sans !important;
}

.myLogo {
    width: 30px; 
    height: 30px;
}

.nav-opt {
    transition: 0.3s ease;
    border-top: .5px solid $white;
    border-bottom: .5px solid $white;
  }

.nav-opt:hover {
    border-top: 3px solid $Prim-color;
    border-bottom: 3px solid $Prim-color;
    padding: 4px 0; 
}

// ========================
// Landing Page Styles

// Hero Styles in Header
.text1 {
    font-family: $P-Marker;
    color: $Prim-color;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-bottom: .25rem;
    background: $white;
    position: relative;
    animation: text 3s 1;
}

.text2 {
    font-family: $O-Sans;
    font-size: 1rem;
    color: $black;
}

@keyframes text {
    0% {
        color: $white;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 10px;
        margin-bottom: -30px;
    }
    85% {
        letter-spacing: 3px;
        margin-bottom: -30px; 
    }
}

// Main Section Styles
.option-sect {
    padding: 5rem;
}

.about-me-sect {
    background: $LG-bg;
    padding: 5rem 3rem;
}

.contact-me-sect {
    background: url(../img/business-card-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 2rem 5rem;
}

.business-card {
    width: 100%;
    height: 280px;
    font-family: $Montserrat;
}

.front,
.back {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.front {
    background: linear-gradient(to right, $white, $Prim-color);
    padding: 40px;

    span {
        background: $Prim-color;
        color: $white;
        padding: 4px 10px;
        display: inline-block;
        margin-bottom: 40px;
    }
}

.contact-details {
    padding: 0;

   ul {
       list-style-type: none;
       margin: 0;
   }

   li {
        margin: 10px 0;
        display: flex;
        align-items: center;
   }

   i {
       width: 26px;
       height: 26px;
       background: $Prim-color;
       color: $white;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-right: 6px;
   }
}

// ===========================
// About Page Styles

// Main Section Styles
.the-language {
    background: $Prim-color;
    color: $white;
    padding: 1rem;

    margin-bottom: .5rem;
}

// ============================
// CV Page Styles

// Main Section Styles
.cv-main {
    padding: 1.5rem;
}

.left-grid {
    background: beige;
}

.right-grid {
    background: goldenrod;
}

.mySkills {
    background: red;
}

.myWork-exp {
    background: blue;
}

.education {
    background: pink;
}

.extra-activities {
    background: purple;
}

.myHobbies {
    background: orange;
}

.cv-section-heading {
    font-weight: 700;
    letter-spacing: .3rem;
    margin: 1rem 0; 
}

// .cv-content {
//     font-size: .85rem;
// }

// =============================
// Project Page Styles

// Main Section Styles
// Images Styles
.projectImg {
    height: 35vh;
    width: 100%;
}