// Font Variables
$P-Marker: 'Permanent Marker', cursive;
$Montserrat: 'Montserrat', sans-serif;
$Raleway: 'Raleway', sans-serif;
$S-Sans-P: 'Source Sans Pro', sans-serif;
$O-Sans: 'Open Sans', sans-serif;

// Colors variables

$Prim-color: #6A8D73;
$LightGrey-bg-color: #f5f5f591;
$DarkGrey-bg-color: #d2d2d0b3;
$box-shadow-color: #58585870;

$LG-bg: $LightGrey-bg-color;
$DG-bg: $DarkGrey-bg-color;

$black: #000000;
$white: #ffff;
$grey: #9fb7b954;